@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --gradient:  radial-gradient(
      500px circle at 50% 50%, 
      #00dfff 26% 26%, #8c00ea 33%, #ff40ce 66%, #00f4d4 100%
    );
    --bgColor: black;
    --font: 'Inter', sans-serif;

    --color-main: hsl(188, 100%, 49%);

    --accent: hsl(190, 82%, 72%);
    /* shadows */

    --shadow-color: 188deg 100% 26%;
    --shadow-elevation-high:
    0.1px 0.2px 0.3px hsl(var(--shadow-color) / 0.39),
    0.9px 1.5px 2px -0.4px hsl(var(--shadow-color) / 0.39),
    1.6px 2.9px 3.7px -0.7px hsl(var(--shadow-color) / 0.39),
    2.7px 4.8px 6.2px -1.1px hsl(var(--shadow-color) / 0.39),
    4.3px 7.6px 9.8px -1.4px hsl(var(--shadow-color) / 0.39),
    6.7px 11.9px 15.4px -1.8px hsl(var(--shadow-color) / 0.39),
    10.2px 18.1px 23.4px -2.1px hsl(var(--shadow-color) / 0.39),
    15px 26.7px 34.5px -2.5px hsl(var(--shadow-color) / 0.39);
  }
  
  /* utility classes */




  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
  }

.tool,
.option {
    user-select: none;
  }

  body {
    background-color: var(--accent);
  }


  header {
    height: 100px;
    background-color: var(--bgColor);
    border-radius: 0 0 10px 10px;
  }
  
  .tools__menu {
    width: 100%;
    height: 100%;
  }
  
  .menu__content {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .tools {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .tool,
  .tool label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tool {
    transition-duration: .2s;
  }

  .tool input {
    display: none;
  }
  
  .tool input[type="radio"] + label {
    background: var(--gradient);
  }
  
  /* checked */
  /* .tool input[type="radio"]:checked + label {
    background: red;
  }
   */

  .tool label {
    min-width: 100px;
    padding: 10px 15px;
    height: 50px;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
  }
  
  .tool label img {
    height: 50%;
  }
  
  .tool label small {
    font-size: 18px;
  }
  
  .tool input[type="radio"] + label small {
    color: #000000;
    font-weight: 500;
  }
  
  .tool input[type="radio"] + label img {
    filter: invert(100%);
  }

/* checked */
  .tool:hover {
    transform: scale(1.1);
  }
  
  .tool input[type="radio"]:hover + label img {
    filter: none;
  }

  .tool input[type="radio"]:checked + label {
    box-shadow: 0px 0px 10px 6px var(--accent);
  }
  
  .tool input[type="radio"]:checked + label img {
    filter: none;
  }
  
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .option[attribute="option"]:hover {
    box-shadow: var(--shadow-elevation-high);
  }

  .option {
    min-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .option button,
  .option input[type="color"] {
    min-width: 100%;
    height: 50%;
    border: 0;
    background-color: var(--color-main);
    font-size: 18px;
    cursor: pointer;
    padding: 1px;
  }


  
 
  
  .option input[type="color"] {
    height: 30px;
  }
  
  .option button {
    padding: 5px 10px;
  }
  
  .option button {
    color: black;
    background: var(--gradient);
    font-weight: 500;
  }
  

  

  /* range brush width picker */
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: black;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 2px solid hsl(188, 100%, 50%);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: hsl(195, 90%, 54%);
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 10px 3px hsl(195, 90%, 54%);
  }

  
  input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--gradient);
    cursor: pointer;
  }




  #canvas {
    height: 700px;
    width: 1200px;
    border: 3px solid var(--bgColor);
    display: block;
    margin: 50px auto;
    position: relative;
    z-index: 4;
  }


  .waves{
    position: absolute;
    bottom: 0;
    right: 0;
  }


  .waves,
  .waves img {
    width: 100vw;
    z-index: -2;
  }

.animatedButton {
  animation: aliveButton 1s linear infinite alternate;
}

@keyframes aliveButton {
  0%{
    transform: scale(1);
  }

  100% {
    transform: scale(1.13);
  }
}